:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #97acb6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.gallery {
  line-height: 2;
  column-count: 8;
  column-gap: 10px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.gallery img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgb(79, 79, 79);
  transition: 0.3s ease-in-out;
}

.photo-focus img {
  z-index: 1;
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  right: 0;
  top: 0;
  object-fit: contain;
  background-color: #1a1a1a65;
  backdrop-filter: blur(20px);
}

.close-button {
  z-index: 2;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  color: black;
  background-color: transparent;
  border: none;
}

.close-button:hover {
  text-shadow: 0 0 5px white;
}

.banner {
  font-family: Arial, Helvetica, sans-serif;
}

#categories {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.category-image img {
  display: inline-block;
  float: left;
  width: 50%;
  height: 50%;
}
